h{
	color: #500000;
	font-size: 300%;
}
p{
	color: #500000;
	font-family: "Crimson Text", "Georgia", serif;
	font-size: 100%;
	border:1px solid #500000;
	padding: 30 px;
	margin: 30 px;
}

.white_border{
	border: 1px solid #FFFFFF;
}

.maroon_background{
	background-color: #500000;
}

.opensans_txt{
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.tungsten_txt{
	font-family: "Tungsten A", "Tungsten B", sans-serif;
}
.moriston_txt{
	font-family: "Moriston", sans-serif;
}

.maroon_txt{
	color: #500000;
}

.white_txt{
	color: #FFFFFF;
}

.blue_txt{
	color: #003C71;
}

.green_txt{
	color: #5B6236;
}

.brown_txt{
	color: #744F28;
}

.gold_txt{
	color: #998542;
}

.black_txt{
	color: #332C2C;
}

.grey_txt{
	color: #707373;
}

.tan_txt{
	color: #D6D3C4;
}

.yellow_txt{
	color: #FCE300;
}

.red_txt{
	color: #E4002B;
}
